
.app-container {
  background-color: #dad7cd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.app-content {
  flex: 1;
}

nav {
  background-color: #a3b18a;
  position: sticky;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: row;
}

.nav-item {
  margin: 0 5px;
  font-size: large;
}

footer {
  background-color: #a3b18a;
  text-align: center;
  
  padding: 15px 0;
  bottom: 0;
}

.active {
  color:  white
}

a {
  text-decoration: none;
  color: #344e41;
}

a:hover {
  font-weight: bold;
}

.form-container {
  text-align: center;
  background-color: white;
  padding: 5vh 5vw;
  border-radius: 25px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plant-cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.plant-card-image {
  max-height: 250px;
  width: 250px;
}

.plant-image {
  max-height: 30rem;
  max-height: 30rem;
}

.plant-show-container {
  /* not responsive- need responsive way to center div but now content within */
  /* margin-left: 15rem; */
  /* display: flex;
  flex-direction: column;
  align-content: center; */
 
}

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
