@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');


.app-container {
  background-color: #dad7cd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: ocr-a-std, monospace;
}

.app-content {
  flex: 1;
}

header {
  background-color: #a3b18a;
  position: sticky;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: row;
}

.nav-item {
  margin: 0 15px;
  font-size: large;
  word-spacing: -.1em;
}

footer {
  background-color: #a3b18a;
  text-align: center;
  
  padding: 15px 0;
  bottom: 0;
}

.active {
  color:  white
}

a {
  text-decoration: none;
  color: #344e41;
}

a:hover {
  font-weight: bold;
}

#title {
  padding-left: 2em;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: xxx-large;
}

.garden-details {
  color: rgba(0,0,0,.68);
  padding: 0 0 2em 8em;
}

.form-container {
  text-align: center;
  background-color: white;
  padding: 5vh 5vw;
  border-radius: 25px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plant-cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.plant-card-content {
  background-color: white;
  margin-bottom: 20px;
}

h3.user-plant-name {
  font-size: large;
  margin-top: -5px;
  padding: .7em 0em 0em 1.05em;
  margin-bottom: 0;
  font-weight: 550;
}

h3.plant-name{
  font-size: 1em;
  padding-left: 20px;
  margin: 0;
  font-weight: 100 ;
  color: rgba(0,0,0,.4);
  padding: .2em 0em .8em 1.4em;
}

#plant-card-button {
  width: 10em;
  transform: translateX(40%);
  margin-bottom: .5em;
}

.plant-card-image {
  max-height: 250px;
  width: 250px;
}

.plant-image {
  max-height: 40vh;
  max-width: 100vw;
}

#card-button-container {
  border-top: 1px solid rgba(0,0,0,.05)!important;
  padding-top: .5em;
}
.plant-show-container { 
  /* not responsive- need responsive way to center div but now content within */
  margin-top: 30px;
  display: flex; 
  align-content: center;
  justify-content: space-around;
}

#careNotesSection {
  max-height: 350px;
  overflow-y:auto;
  position: relative;
  width: 50vw;
  transform: rotate(180deg);
} 

div.comment {
  transform: rotate(180deg);
}

.ui.card {
  width: 400px;
}

@media only screen and (max-width: 700px) {
  .plant-show-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
  }
  #careNotesSection {
    overflow-y:auto;
    position: relative;
    margin: 20px;
  } 
  .ui.card {
    width: 350px
  }
}

.care-notes-form {
   position: static;
}

.cancel-button {
  position: fixed;
  top: 80px;
  right: 20px;
  margin-right: 10px;
}

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
