
.app-container {
  background-color: beige;
  min-height: 100vh;
}

.app-content {
  height: calc(100vh - 106px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: aquamarine;
  position: sticky;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  padding: 0 5px;
  font-size: large;
}


footer {
  background-color: aquamarine;
  text-align: center;
  position: sticky;
  padding: 15px 0;
  bottom: 0;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.form-container {
  text-align: center;
  background-color: white;
  padding: 5vh 5vw;
  border-radius: 25px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
